{% extends "base.html" %}
{%  block content %}
    <h1>About us</h1>
    <p>Read about as</p>

    <h3>{{ title }}</h3>
    <p>
    {{ title }}, {{ my_number }}, {{ my_list }}
    {{ my_html|striptags|slugify }}
    </p>
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
<ul>
    {% for my_sub_item in my_list %}
        {%  if my_sub_item == 777  %}
            <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
        {% elif my_sub_item == "ABC" %}
            <li>This is not the network</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
      {% endif %}

    {%  endfor %}
</ul>
{% endblock %}